@import '../globals.scss';

.welcomePageCont {
    position: relative;
    height: 80svh;
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding-top: 10rem;
    padding-inline: 2rem;
    gap: 1.5rem;

    img:nth-of-type(1) {
        filter: invert(99%) sepia(72%) saturate(74%) hue-rotate(323deg) brightness(113%) contrast(90%);
        width: 15rem;  
    }

    .glow1 {
        position: absolute;
        opacity: 1;
        z-index: -1;
        left: 0;
        bottom: 0;
    }

    h1 {
        text-align: start;
        font-weight: 300;
        position: relative;
        font-size: 1.1rem;
    
        /*&::after {
            content: '';
            width: 0%;
            height: 0.1rem;
            background-color: $textPrimary;
            position: absolute;
            left: 0;
            top: 3rem;
            animation: 0.7s underlineFadeIn 1s forwards ease;
        }*/
    }

    .bookBtn {
        margin-top: -0.3rem;
        width: fit-content;
        background-color: rgba(217, 217, 217, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem 0.8rem 1rem;
        color: $textBtnPrimary;
        /*font-family: $font3;
        font-style: italic;*/
        font-weight: 500;
        border-radius: 10px;
        cursor: pointer;
        transition-duration: 0.3s;
        backdrop-filter: blur(50px);

        p {
            font-size: 1.1rem;
        }

        &:hover {
            background-color: rgba(217, 217, 217, 0.2);
        }
    }
}

@keyframes underlineFadeIn {
    from {
        width: 0%;
        opacity: 0;
    } to {
        width: 100%;
        opacity: 1;
    }
}

@media (min-width: 720px) {
    .welcomePageCont {
        width: 70%;
        transform: translate(-50%);
        left: 50%;

        img:nth-of-type(1) {
            width: 22rem;
            display: none;
        }

        .glow1 {
            position: absolute;
            opacity: 1;
            z-index: -1;
            left: 70%;
            transform: translate(-50%);
            bottom: 0;
        }
        
        h1 {
            font-size: 3rem;
        }

        .bookBtn {
            p {
                font-size: 1.3rem;
            }
        }
    }
}
