@import './globals.scss';

:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: "Hind", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $textPrimary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

a {
  color: $textPrimary;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}



body {
  --sb-track-color: #08090c;
  --sb-thumb-color: rgba(255, 255, 255, 0.05);
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}